@import './variables';

code {
    p {
        padding: 10px;
        border-radius: 5px;
        background-color: $primary-color;
        max-width: 60%;
        word-wrap: break-word;
        color: white;
        line-height: 20px;
    }
}