@import './variables';

#main {
    a {
        color: $link-color;
        text-decoration: none;
    }
    img {
        margin-bottom: 20px;
        &.image-small {
            width: 30%;
        }
        &.image-large {
            width: 75%;
        }
    }
    li {
        margin: 7px;
    }
}